<style>
    .spinner-layer{
        border-color: #aed581;
    }

    #preloader-overlay {
        content: '';
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        z-index: 20000;
    }

    #preloader {
        position: fixed;
        z-index: 20001;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

</style>
<div id='preloader-overlay' class="valign-wrapper">
    <div id="preloader" class="preloader-wrapper big active">
        <div class="spinner-layer spinner-light-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>