<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aptitude {% block title %}{% endblock title %}</title>
    {% include 'material/includes/material_css.html' %}
    {% include 'snippets/resources.html' %}
    {% include 'material/includes/material_js.html' %}
    {% block scripts %}{% endblock scripts %}
</head>

<body>
{% include 'snippets/base_css.html' %}
{% include 'snippets/header.html' %}

<div class="main">
    {% block content %}{% endblock content %}
</div>

{% include 'snippets/footer.html' %}

{% block extra_js %} {% endblock extra_js %}

</body>

</html>